:root {
    --green: rgb(24, 69, 59);
    --white: white;
    --lightgreen: rgb(0, 130, 8);
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p,
li {
    font-family: "Roboto";
    line-height: 1.25em;
}

header {
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    padding: 5px;
    width: 100%;
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    border-bottom: 5px solid var(--green);
    cursor: pointer;
}

nav ul li:nth-child(odd) {
    background-color: var(--white);
    color: var(--lightgreen);
}

nav ul li:nth-child(even) {
    background-color: var(--lightgreen);
    color: var(--white);
    border-left: 5px solid var(--green);
    border-right: 5px solid var(--green);
}

h1 {
    text-align: center;
    font-size: 40px;
}

#header-image {
    display: block;
    height: auto;
    width: 60%;
    margin: 20px auto;
}

#header-h2 {
    margin: 0px;
    padding: 0px;
}

h2 {
    color: var(--white);
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    background-color: var(--green);
    margin-bottom: 10px;
}

h3 {
    padding-left: 20px;
    font-size: 24px;
}

.card ul,
.card ol,
.card p {
    padding-left: 40px;
    padding-right: 30px;
    font-size: 20px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid var(--green);
    box-shadow: 10px 10px var(--lightgreen);
    padding-bottom: 20px;
}

.images {
    width: 100%;
    height: auto;
}

a:link,
a:visited {
    color: var(--lightgreen);
}

.star-ul {
    list-style-type: none;
}

.star-li::before {
    content: "⭐ ";
    margin-left: -22px;
}

.caps {
    text-transform: uppercase;
}

.hidden {
    display: none;
}