:root {
    --green: rgb(24, 69, 59);
    --white: white;
    --lightgreen: rgb(0, 130, 8);
}

* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
    background-color: var(--green);
    color: var(--white);
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul {
    padding: 0px;
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid var(--green);
}

nav ul li:nth-child(odd) a {
    color: var(--lightgreen)
}

nav ul li:nth-child(odd) {
    background-color: var(--white);
}

nav ul li:nth-child(even) a {
    color: var(--white)
}

nav ul li:nth-child(even) {
    background-color: var(--lightgreen);
}

h1 {
    text-align: center;
    font-size: 40px;
}

#header-image {
    display: block;
    height: 80px;
    width: auto;
    margin: 20px auto;
}

#header-h2 {
    margin: 0px;
    padding: 0px;
}

h2 {
    color: var(--white);
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    background-color: var(--green);
    margin-bottom: 10px;
}

h3 {
    padding-left: 20px;
    font-size: 24px;
}

ul,
ol,
p {
    padding-left: 40px;
    padding-right: 30px;
    font-size: 20px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid var(--green);
    box-shadow: 10px 10px var(--lightgreen);
    padding-bottom: 20px;
}

.images {
    width: 100%;
    height: auto;
}

.tab {
    margin-left: 40px;
}

.tabx2 {
    margin-left: 80px;
}

.tabx3 {
    margin-left: 120px;
}

.star-ul {
    list-style-type: none;
    padding-left: 20px;
}

.star-li::before {
    content: "⭐ ";
}

.caps {
    text-transform: uppercase;
}