* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: auto;
    background-color: rgb(23, 23, 130);
    color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    padding-left: 20px;
    font-size: 24px;
}

h4 {
    padding-left: 40px;
    font-size: 20px;
}

.cat {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul,
ol {
    padding-left: 40px;
    padding-right: 30px;
    font-size: 20px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
}

.git-bullets {
    padding-left: 80px;
}

.note {
    padding-left: 20px;
}

.footer {
    text-align: center;
    font-size: 30px;
}

.should-be-id {
    width: 100%;
    height: auto;
}